// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.logged_out h2 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: initial;
  position: relative;
}

body.logged_out h2::before {
  content: '';
  background-image: image-url('logo.png');
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 3px;
}

#footer {
  display: none;
}
